{% extends 'base.html' %}
{% block title %} MEMBERS {% endblock %}
{% block content %}
<div class="mt-5">
    <h3>MEMBERS TABLE</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Control</th>
        </tr>
        </thead>
        <tbody>
        {% for member in member_list %}
        <tr>
            <td>{{member.id}}</td>
            <td>{{member.username}}</td>
            <td>
                {% if member.username == request.user.username %}
                <span class="btn">ADMIN</span>
                {% else %}
                <span class="btn mr-5">MEMBER</span>
                <a href="{% url 'remove_member' group_id=group_id user_id=member.id %}"
                   class="btn btn-danger">DELETE</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>USERS TABLE</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Control</th>
        </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>
                <a href="{% url 'add_member' group_id=group_id user_id=user.id %}" class="btn btn-success">ADD</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center mt-4">
    <button type="submit" class="buttons"><a href="{% url 'index' %}">INDEX</a></button>
</div>
{% endblock %}
