<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>{{room_name}}</h1>
    </div>
    <div class="body">
        {% for message in message_list %}
        {% if message.user == request.user.username %}
        <p class="message user_message">{{ message.user }} : {{ message.message }}</p>
        {% else %}
        <p class="message">{{ message.user }} : {{ message.message }}</p>
        {% endif %}
        {% endfor %}
    </div>
    <div class="footer">
        <form>
            <input id="chat-message-input" type="text" name="" placeholder="Type here...">
            <input id="chat-message-submit" type="button" class="button" value="SEND">
        </form>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="buttons"><a href="{% url 'index' %}">INDEX</a></button>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="buttons"><a href="{% url 'logout' %}">LOGOUT</a></button>
    </div>
</div>
{{ room_name|json_script:"room-name" }}
{{ username|json_script:"username" }}
<script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const userName = JSON.parse(document.getElementById('username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.username + ' : ' + data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username':userName,
                'room_name': roomName

            }));
            messageInputDom.value = '';
        };


</script>
</body>
</html>
